@import "tailwindcss";



@font-face {
  font-family: 'genshin-sub';
  src: url('./fonts/genshin-sub.ttf') format('truetype');

  font-display: swap;
}

@font-face {
  font-family: 'popins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');


  font-display: swap;
}



html {
  scroll-behavior: smooth;
}
